body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #070606;
}

.nav{color: white;
display: flex;
justify-content:flex-end;
padding: 2%;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

header {
  text-align: center;
}

img {
  width: 200px;
  height: auto;
  margin-bottom: 20px;
}

form {
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  width: 400px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

button {
  padding: 10px 20px;
  background-color: #4285F4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #102649;
}
.France{color: white;}

.nav2{color: white;
display: flex;
justify-content:space-between ;}

.span style {color: white;}